.navButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    margin-right: 18px;
}
.navButtonLabel{
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
}